body {
  background-color: #068D9D;
  color: white;
  font-family: sans-serif;
}

h1 {
  font-family: 'Codystar', cursive;
  font-size: 60px;
  margin: 30px;
  font-weight: bold;
}

h3 {
  font-family: 'Droid Serif', serif;
  margin-bottom: 15px;
  font-weight: bold;
  color: #BF1363;
}

.form-container {
  height: auto;
  margin: 0 30px 20px;

}

#instructions {
  width: 600px;
  line-height: 2;
}
.question-container {
  margin: 25px;
}

.question-form {
  margin: 40px;
}

input {
  border: none;
  background-color: transparent;
}

label {
  font-family: sans-serif;
  font-size: 18px;
  padding-bottom: 20px;
}

.input-field {
  margin: 10px;
  border-bottom: #F39237 3px solid;
}

#question {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

#answers {
  display: inline-block;
  width: 300px;
  border-left: #F39237 3px solid;
  padding-left: 10px;
}

.question-inputs, .answer-inputs {
  width: 150px;
  display: block;
  margin-top: 5px;
  color: white;
  height: 18px;
  font-size: 16px;
  padding: 5px;

}

.submit-btn {
  border-radius: 5px;
  margin-left: 400px;
  background-color: #BF1363;
  color: white;
  font-size: 16px;
  border: none;
}

.btn-logout {
  border-radius: 5px;
  border: none;
  background-color: #BF1363;
  color: white;
  font-size: 12px;
  margin-top: 10px;
}

img {
  height: 20px;
  width: 20px;
}

#poll-link-header {
  margin: 0 30px 10px;
}

.question, a {
  font-size: 16px;
  margin: 5px;
}

.avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.signin-container, #poll-container, .votes-container {
  margin: 20px;
  font-family: 'Droid Serif', serif;
  font-size: 18px;
}

#results-header {
  margin: 30px 20px 20px;
}

#connection-count {
  margin: 20px;
}

#submit {
  display: block;
}

.choice-buttons {
  margin-right: 10px;
  background-color: #BF1363;
  color: white;
  border: none;
}
